body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e0e0e0;
}
#pokedexHeader {
    display: flex;
    justify-content: center;
    background-color: #ff5050;
}
#content, #pokedexForm, #pokeballAnimated, #resultSearch{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#content {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}
#submitButton {
    margin: 10px;
    box-shadow: 1px 1px 2px #878787;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #fa9c84;
}
#pokedexInput{
	padding: 5px 5px;
	background: #f8f8f8;
    border-bottom: 1px solid #acacac;
    border-top: none;
    border-inline: none;
	color: #000000;
	border-radius: 5px 5px 0px 0px;
}
#pokeballAnimated {
    width: fit-content;
    margin-top: 20px;
    margin-inline: auto;
    animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3s 3;
    animation-iteration-count: infinite;
}

@keyframes shake {
0% {
    transform: translateX(0) rotate(0);
}
20% {
    transform: translateX(-10px) rotate(-20deg);
}
30% {
    transform: translateX(10px) rotate(20deg);
}
50% {
    transform: translateX(-10px) rotate(-10deg);
}
60% {
    transform: translateX(10px) rotate(10deg);
}
100% {
    transform: translateX(0) rotate(0);
}
}
